.khung {
    width: 800px;
    margin: auto;
    margin-top: 50px;
    background-color: ghostwhite;
}
.error {
    color:red;
}
form {
    margin: 30px;
}

form * {
    margin-top: 10px;
}

.form-format{
    width: 400px;
    position: relative;
    
}
.radio {
    text-align: center;
}

.radio label {
    margin-right: 20px;
}
#country{
    width: 170px;
    height: 30px;
}
#day, #month, #year{
    width: 70px;
}
.title {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: orange;
    text-shadow: 5px 5px 5px;
}